.Container {
    display: flex;
    justify-content: center;
  }
  
  .Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #635985;
    border-radius: 5px;
    background-color: whitesmoke;
    width: 500px;
  }
  
  .Label {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    font-size: 16px;
    color: #443C68;
  }

.Input {
    width: 250px;
    height: 30px;
    padding: 5px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    font-size: 14px;
    color: #666;
  }

  .ButtonCheckOut {
    padding: 10px 20px;
    background-color: #635985;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    opacity: 0.5; 
  }
  
  .ButtonCheckOut.Active {
    opacity: 1; 
  }
  
  .ButtonCheckOut:focus{
    display: none;
  }

  .ButtonCheckOut:hover {
    background-color: #443C68;
  }

  .ButtonLogin{
    padding: 10px 20px;
    background-color: #18122B;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    opacity: 0.5; 
  }

  .ButtonLogin.Active {
    opacity: 1; 
  }

  .ButtonLogin:focus{
    display: none;
  }

  .ButtonLogin:hover {
    background-color: #443C68;
  }